body{
  background-color: #FFEFD5;
}

h1{
    text-align: center;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse; /* removes space between borders */
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

th {
  background-color: rgb(70, 193, 204);
  color: white;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6f7ff;
}

