body {
  margin: 0;
  background-color: #FFEFD5;
  padding: 40px 0; /* space from top and bottom */
}

h1{
    margin-left: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;     /* Center fieldsets horizontally */
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;           /* Fixed typo */
  box-sizing: border-box;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.rightBox {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.rightBox img {
  height: 250px;
  width: auto;
  border-radius: 20px;
}

.wheat{
  height: 250px;
  width: 150px;
  border-radius: 20px;
}

.rice{
  height: 250px;
  width: auto;
  border-radius: 20px;

}

.maize{
  height: 250px;
  width: auto;
  border-radius: 20px;
}

.rightBox:hover {
  transform: scale(1.05);
}

.leftBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

fieldset {
  background-color: aliceblue;
  border: 2px solid #07080a;
  border-radius: 8px;
  width: 60%;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

section {
  width: 100%;
}